<div class="params-box">
  <div>
    <span class="params">User:</span> <%= @user %>
  </div>
  <div>
    <span class="params">Repository:</span> <%= @repo %>
  </div>
  <div>
    <span class="params">Pull Request ID:</span> <%= @pr_id %>
  </div>
</div>

<div>
  <span class="params">Additions:</span> <%= @data.additions %>
</div>
<div>
  <span class="params">Deletions:</span> <%= @data.deletions %>
</div>
<div>
  <span class="params">Review Comments:</span> <%= @data.review_comments %>
</div>
<div>
  <span class="params">Commits:</span> <%= @data.commits %>
</div>
<div>
  <span class="params">Created At:</span> <%= @data.created_at %>
</div>
<div>
  <span class="params">Updated At:</span> <%= @data.updated_at %>
</div>
<div>
  <span class="params">Merged At:</span> <%= @data.merged_at %>
</div>
<div>
  <span class="params">Closed At:</span> <%= @data.closed_at %>
</div>
<div>
  <span class="params">Assignee:</span> <%= @data.assignee %>
</div>
<div>
  <span class="params">HTML URL:</span> <%= @data.html_url %>
</div>
